nav {
  position: fixed;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite;
  padding: 0.5rem 1rem;
}

.logo__container .icon {
  font-size: 2.5rem;
}

.logo__container .icon:last-child {
  color: var(--primary-color);
}

.form__container {
  flex-basis: 10rem;
  background: var(--color-gray);
  padding-right: 1rem;
  border-radius: 2rem;
  border: 1px solid black;
}

.form__container input {
  width: 50rem;
  padding: 0.8rem 1rem;
  border-radius: 2rem 0 0 2rem;
  border: 0 solid transparent;
}

.form__container .icon {
  background: var(--color-gray);
}
