.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite;
  padding: 0rem 1rem;
}

.logo__container .icon {
  font-size: 2.5rem;
}

.logo__container .icon:last-child {
  color: var(--primary-color);
}

.form__container {
  flex-basis: 10rem;
  background: darkmagenta;
}
.form__container form {
  /* background: darkmagenta; */
}

.form__container input {
  width: 50rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}
