nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite;
  padding: 0.5rem 1rem;
}

.logo__container .icon {
  font-size: 2.5rem;
}

.logo__container .icon:last-child {
  color: var(--primary-color);
}

.form__container form {
  display: flex;
  align-items: center;
  background: var(--color-gray);
  padding-right: 1rem;
  border-radius: 2rem;
  border: 0.5px solid black;
}

.form__container input {
  width: 50rem;
  padding: 0.8rem 1rem;
  border-radius: 2rem 0 0 2rem;
  border: 0 solid transparent;
}

.form__container .icon {
  padding: 0.3rem;
  width: 3rem;
  height: 3rem;
  background: var(--color-gray);
  border-radius: 50%;
}
